.MainContent{
    width:100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}
.findpw{
    width:40vw;
    height:40vw;
    border-radius: 4vw;
    border: 0.1vw solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2vw 0.1vw;
    flex-direction: column;
}
.Link{
    color:black;
    text-decoration: none;
}
.logo{
    width:30vw;
    margin-top: 2vw;
}
.logo>*>p{
    font-size: 3.3vw;
    text-align: center;
}
.logo>*>p>span{
    color:red
}
.findpwForm{
    width:35vw; 
    /* margin-top:; */
    
}
form{
    width:35vw;
    display: flex;
    justify-content: center;
    flex-direction:column;
}
.input{
    height:4.5vw;
    margin-bottom: 0.6vw;
    padding-left: 1vw;
    border-radius: 1vw;
    border: 0.1vw solid black;
    font-size:1vw;
    margin-top: 3vw;
    margin-bottom: 5vw;
}
.emailError{
    color: red;
    position: relative;
    top:-3.5vw;
    margin-left: 0.1vw;
    font-size: 1vw;
}
form>button{
    height:4vw;
    background-color: rgb(0, 0, 0);
    border-radius: 3vw;
    font-size: 1.8vw;
    color:white;
    margin-top: 0.1vw;
}
.loginOrSignup{
    width:35vw;
    font-size: 1vw;
    margin:2vw 0;
    display: flex;
    justify-content:center;
    align-items: center;
    
}
.loginOrSignup>span{   
    width:10vw;
    text-align: center;
}
.social{
    width:35vw;
    border-top: 0.1vw solid #454545;
    display: flex;
    justify-content: center;
} 
.social_name{
    background-color: rgb(255, 255, 255);
    position: relative;
    font-size: 1vw;
    top:-0.5vw;
    padding:0 1vw;
}
.social_Login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

@media (max-width: 768px) {
    .findpw{
        width:70vw;
        height:80vw;
        padding: 0;
        border-radius: 8vw;
    }
    .logo{
        width:60vw;
        margin-bottom: 3vw;
    }
    .logo>*>p{
        font-size:7vw;
    }
    .findpwForm{
        width:60vw; 
        display: flex;
        justify-content: center;
    }
    form{
        width:60vw;
    }
    .input{
        height:9vw;
        margin-bottom: 4vw;
        padding-left: 3vw;
        border-radius: 3vw;
        font-size:2.5vw;
    }
    .emailError{
        top:-1.5vw;
        margin-left: 1vw;
        font-size: 2vw;
    }
    form>button{
        height:7vw;
        border-radius: 3vw;
        font-size: 3vw;
        margin-top: 6vw;
    }
    .loginOrSignup{
        width:60vw;
        font-size: 2vw;
        margin:4vw 0;
    }
    .loginOrSignup>span{   
        width:20vw;
        text-align: center;
    }
    .social{
        width:60vw;
        border-top: 0.3vw solid #454545;
        margin:2.5vw 0;
        
    } 
    .social_name{
        font-size: 2vw;
        top:-1vw;
        padding:0 2vw;
    }
}