.MOMBox {
  height: 500vw;
}

.outerContainer {
  display: flex;
  justify-content: center;
  align-items: center; /* 수직 중앙 정렬 */
  /* width: 100%; */
}

.innerContainer {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center; /* 수직 중앙 정렬 */
}

.container {
  /* position: relative; */
  /* height: auto; */
  /* width: 70vw; */
  display: flex;
  justify-content: center;
  align-items: center; /* 수직 중앙 정렬 */
}

.Incontainer {
  display: flex;
  justify-content: center;
  align-items: center; /* 수직 중앙 정렬 */
  /* width: 100%; */
}

.background {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.backgroundImage {
  width: 100vw;
  height: 100vh;
}

.backgroundImage2 {
  width: 100vw;
  height: 150vh;
}

.backgroundImage6 {
  margin-top: -70%;
  width: 100vw;
  height: 90vh;
}

.phone1 {
  width: 70vw;
  position: absolute;
  top: 23%;
  left: -20%;
  transform: translateX(50%);
  z-index: 2;
  display: flex;
  justify-content: center; 
  align-items: center;
}

.phone2 {
  width: 70vw;
  position: absolute;
  top: 13%;
  right: 42%;
  transform: translateX(50%);
  z-index: 2; /* phone1 이미지를 위에 표시 */
  /* display: flex; */
  /* flex-direction: column;   */
  justify-content: center;
  align-items: center;
}

.phone3 {
  width: 70vw;
  position: absolute;
  top: -18vw;
  left: -20%; /* 중앙 정렬을 위해 left를 50%로 설정 */
  transform: translateX(50%); /* 가로 방향으로 -50%만큼 이동하여 중앙 정렬 */
  z-index: 2; /* phone1 이미지를 위에 표시 */
  display: flex;
  justify-content: center; /* 수평 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
}

.phone4 {
  width: 70vw;
  position: absolute;
  top: -16vw;
  right: 41%;
  transform: translateX(50%);
  z-index: 2; /* phone1 이미지를 위에 표시 */
  /* display: flex; */
  /* flex-direction: column;   */
  justify-content: center;
  align-items: center;
}

.phone5 {
  width: 70vw;
  position: absolute;
  top: -76%;
  left: -20%;
  transform: translateX(50%);
  z-index: 2; /* phone1 이미지를 위에 표시 */
  display: flex;
  justify-content: center; /* 수평 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
}

.phone6 {
  width: 70vw;
  position: absolute;
  top: -76%;
  right: 41%;
  transform: translateX(50%);
  z-index: 2; /* phone1 이미지를 위에 표시 */
  /* display: flex; */
  /* flex-direction: column;   */
  justify-content: center;
  align-items: center;
}

.web {
  width: 70vw;
  position: absolute;
  top: -85%;
  left: -22%;
  transform: translateX(50%);
  z-index: 2; /* phone1 이미지를 위에 표시 */
  /* display: flex; */
  justify-content: center; /* 수평 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
}

.web2 {
  width: 70vw;
  position: absolute;
  top: -105%;
  left: -15%;
  transform: translateX(50%);
  z-index: 2; /* phone1 이미지를 위에 표시 */
  /* display: flex; */
  justify-content: center; /* 수평 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
}

.webImage {
  width: 40vw;
  height: 41vw;
  margin-bottom: 5vw;
}

.phoneImage {
  width: 19vw;
  height: 33.5vw;
  /* animation: shake 2s ease-in-out 1 forwards; */
}

.phoneImage2 {
  width: 19vw;
  height: 36vw;
}

.phoneImage3 {
  width: 19vw;
  height: 36vw;
}

.caseImage {
  /* position: absolute; */
  /* top: 14vw; .leftBox 아래로 이동 */
  /* left: -4vw; */
  width: 23vw; /* 적절한 크기로 조정 */
  /* z-index: 1; .phoneImage보다 낮은 z-index 설정 */
}

/* 위로 슥 올라오는 애니메이션 */
@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

/* 흔들리는 애니메이션 */
@keyframes shake {
  0% {
    transform: rotate(-5deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.rightBox {
  float: right;
  margin-left: 7vw;
}

.rightBox2 {
  float: right;
  margin-left: 7vw;
}

.rightBox5 {
  float: right;
  margin-left: 15vw;
  margin-top: 20vw;
}

.rightBox3 {
  float: right;
  margin-left: 14vw;
  margin-top: 20vw;
}

.rightBoxWeb {
  float: right;
  margin-left: 5vw;
  margin-top: -25vw;
  display: inline;
}

.leftBox {
  float: left;
  margin-right: 7vw;
}

.leftBox4 {
  float: left;
  margin-right: 15vw;
}

.leftBox6 {
  float: left;
  margin-right: 7vw;
  margin-top: 10vw;
}

.leftBoxWeb {
  float: left;
  margin-right: 5vw;
  margin-top: 16vw;
}

.rightTextContainer {
  position: absolute;
  bottom: -30%;
  right: 1%; /* 오른쪽으로 10% 정도 이동 */
}

.leftTextContainer {
  position: absolute;
  bottom: 20vw;
  left: 21vw;
}

.Fname {
  font-family: "NanumSquareRoundEB";
  font-size: 2vw;
}

.Grey .logo {
  color: rgb(55, 54, 54);
}
.Grey .p {
  color: rgb(55, 54, 54);
}

.additionalText {
  font-family: "NanumSquareRoundB";
  font-size: 1.5vw;
  color: rgb(0, 0, 0);
}

.logo {
  font-family: "Tenada";
  display: inline;
  font-size: 1.5vw;
  color: rgb(0, 0, 0);
}

.logo2 {
  font-family: "Tenada";
  color: red;
  display: inline;
}

.p {
  font-family: "NanumSquareRoundB";
  display: inline;
  font-size: 1.5vw;
  color: rgb(0, 0, 0);
  letter-spacing: 1px;
}

.redP {
  font-family: "NanumSquareRoundB";
  display: inline;
  font-size: 1.5vw;
  color: rgb(255, 1, 1);
}

.lastBackground {
  width: 100%;
  height: 90vw; /* 전체 뷰포트 높이로 설정 */
  background-color: rgb(255, 255, 255);
}

.centerCircleBigContainer {
  display: flex;
  justify-content: center; /* 수평 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
}

.centerCircleContainer {
  position: absolute;
  top: 700vh;
  display: flex;
  justify-content: center; /* 수평 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
  flex-direction: column; /* 수직 배치 */
  width: 70vw;
}

.circle {
  width: 0.5vw;
}

.circleP {
  font-family: "NanumSquareRoundB";
  /* display: inline; */
  font-size: 1.8vw;
  color: rgb(0, 0, 0);
  /* letter-spacing: 1px; */
}

.test {
  width: 70vw;
  height: 50vw;
  margin-top: 10vw;
}

@media (max-width: 768px) {
  .MMOMBox {
    height: 1300vw;
  }

  .MouterContainer {
    display: flex;
    justify-content: center;
    /* align-items: center; 수직 중앙 정렬 */
    /* width: 100%; */
  }

  .MinnerContainer {
    width: 100vw;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; 수직 중앙 정렬 */
  }

  .backgroundImg {
    background-image: url("../assets/Introduction/background.jpg");
    background-size: 100vw 100vh;
    /* filter: brightness(1) contrast(1); */
  }

  .backgroundC {
    background-size: cover;
    background-color: rgba(226, 232, 235, 0.493);
  }

  .backSize {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
  }

  .backSize2 {
    width: 100vw;
    /* height: 175vw; */
    display: flex;
    justify-content: center;
  }

  .inSide {
    width: 80vw;
    margin-top: 61vw;
    text-align: center;
    margin-left: 2vw;
  }

  .inSide2 {
    width: 80vw;
    margin-top: 10vw;
  }

  .LOGO {
    width: 41vw;
    border-radius: 50vw;
    animation: spin 5s linear infinite;
  }

  .logoContainer {
    margin-left: 18vw;
    width: 41vw;
    margin-top: 15vw;
    border-radius: 50vw;
    box-shadow: -0.8vw 2vw 2vw rgba(0, 0, 0, 0.384);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* 자식 요소가 컨테이너를 벗어나지 않도록 */
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .scrollContainer {
    width: 80vw; /* 컨테이너의 너비 */
    /* height: 100vh; */
    overflow-x: scroll; /* 가로 스크롤 활성화 */
    display: flex;
    flex-direction: row; /* 이미지를 가로로 배치 */
    align-items: center; /* 수직 중앙 정렬 */
    /* 스크롤바 없애기 */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
  }

  .scrollContainer::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
  }

  .webImage,
  .webImage2 {
    width: 80vw; /* 이미지의 너비 */
    height: auto; /* 이미지의 높이를 자동으로 조정 */
    margin-right: 5vw;
  }

  .phoneImage {
    width: 40vw;
    height: 75vw;
    margin-top: 10vw;
    /* animation: shake 2s ease-in-out 1 forwards; */
  }

  .phoneImage2 {
    width: 50vw;
    height: 100vw;
    margin-bottom: 5vw;
  }

  .caseImage {
    /* position: absolute; */
    /* top: 14vw; .leftBox 아래로 이동 */
    /* left: -4vw; */
    width: 45vw;
    margin-bottom: 3vw;
    /* z-index: 1; .phoneImage보다 낮은 z-index 설정 */
  }

  .Fname {
    font-family: "NanumSquareRoundEB";
    font-size: 6vw;
  }

  .Grey .logo {
    color: rgb(55, 54, 54);
  }
  .Grey .p {
    color: rgb(55, 54, 54);
  }

  .logo {
    font-family: "Tenada";
    display: inline;
    font-size: 4.5vw;
    color: rgb(0, 0, 0);
  }

  .logo2 {
    font-family: "Tenada";
    color: red;
    display: inline;
  }

  .p {
    font-family: "NanumSquareRoundB";
    display: inline;
    font-size: 4vw;
    color: rgb(0, 0, 0);
    letter-spacing: 1px;
  }

  .Fp {
    font-family: "NanumSquareRoundEB";
    display: inline;
    font-size: 7vw;
    color: rgb(0, 0, 0);
    letter-spacing: 1px;
    text-shadow: -0.8vw 2vw 2vw rgba(0, 0, 0, 0.384); /* 수평, 수직, 흐림, 색상 */
  }

  .Flogo {
    font-family: "Tenada";
    display: inline;
    font-size: 6.5vw;
    color: rgb(0, 0, 0);
    text-shadow: -0.8vw 2vw 2vw rgba(0, 0, 0, 0.384); /* 수평, 수직, 흐림, 색상 */
  }

  .Flogo2 {
    font-family: "Tenada";
    color: red;
    display: inline;
  }

  /* Circl */
  .McenterCircleBigContainer {
    margin-top: 50vw;
    display: flex;
    /* 수평 중앙 정렬 */
    justify-content: center;
    /* 수직 중앙 정렬  */
    align-items: center;
  }

  .McenterCircleContainer {
    /* position: absolute; */
    top: 670vw;
    display: flex;
    /* 수평 중앙 정렬 */
    justify-content: center;
    /* 수직 중앙 정렬 */
    align-items: center;
    /* 수직 배치 */
    flex-direction: column;
    width: 80vw;
  }

  .circle {
    width: 1vw;
  }

  .circleP {
    font-family: "NanumSquareRoundB";
    /* display: inline; */
    font-size: 4vw;
    color: rgb(0, 0, 0);
    /* letter-spacing: 1px; */
    text-align: center;
  }

  .test {
    width: 70vw;
    height: 50vw;
    margin-top: 30vw;
  }
}

@font-face {
  font-family: "Tenada";
  src: url("../assets/font/Tenada.ttf");
}

@font-face {
  font-family: "NanumSquareRoundB";
  src: url("../assets/font/NanumSquareRoundB.ttf");
}

@font-face {
  font-family: "NanumSquareRoundEB";
  src: url("../assets/font/NanumSquareRoundEB.ttf");
}

@font-face {
  font-family: "NanumSquareRoundL";
  src: url("../assets/font/NanumSquareRoundL.ttf");
}

@font-face {
  font-family: "NanumSquareRoundR";
  src: url("../assets/font/NanumSquareRoundR.ttf");
}
