.chapter1 {
  background-image: url("../assets/Introduction/background1.jpg");
  /* background-size: 100vw 700px; */
  background-size: 100vw 100vh;
}

.chapter2 {
  background-image: url("../assets/Introduction/background2.png");
  /* background-size: 100vw 700px; */
  background-size: 100vw 100vh;
}

.chapter3 {
  /* background-image: url("../assets/Introduction/background2.png"); */
  /* background-size: 100vw 400px; */
  background-size: 100vw 100vh;
}

.chapter4 {
  /* background-image: url("../assets/Introduction/background2.png"); */
  /* background-size: 100vw 400px; */
  background-size: 100vw 100vh;
}

.outerContainer {
  display: flex;
  justify-content: center;
  align-items: center; /* 수직 중앙 정렬 */
  width: 100vw;
  /* height: 700px; */
  height: 100vh;
}

.innerContainer {
  display: flex;
  justify-content: center;
  align-items: center; /* 수직 중앙 정렬 */
  width: 100vw;
  /* height: 700px; */
  height: 100vh;
}

.box {
  width: 70vw;
  display: flex;
  justify-content: center;
  align-items: center; /* 수직 중앙 정렬 */
}

.box2 {
  width: 70vw;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.box3 {
  width: 70vw;
  margin-top: -500px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.phoneImage1 {
  width: 270px;
  height: 500px;
  /* 500px */
  /* 33.5vw */
  /* 74vh */
  margin-top: 6vw;
  margin-bottom: 5.4vw;
  /* animation: shake 2s ease-in-out 1 forwards; */
}

.phoneImage2 {
  /* float: right; */
  width: 260px;
  height: 510px;
  /* 500px */
  /* 33.5vw */
  /* 74vh */
  margin-top: 6vw;
  margin-bottom: 5.4vw;
  /* animation: shake 2s ease-in-out 1 forwards; */
}

.phoneImage3 {
  /* float: right; */
  width: 250px;
  height: 510px;
  /* 500px */
  /* 33.5vw */
  /* 74vh */
  margin-top: 6vw;
  margin-bottom: 5.4vw;
  /* animation: shake 2s ease-in-out 1 forwards; */
}

.caseImage {
  width: 21vw;
  margin-left: 50px;
}

.webImage {
  width: 40vw;
  height: 29vw;
  margin-bottom: 5vw;
}

.rightBox {
  float: right;
  margin-left: 8vw;
}

.rightBox2 {
  float: right;
  margin-left: 15vw;
  /* margin-right: 8vw; */
  margin-top: 6vw;
}

.rightBox3 {
  float: right;
  /* margin-left: 15vw; */
  /* margin-right: 8vw; */
  margin-top: 6vw;
}

.leftBox {
  float: left;
  margin-right: 8vw;
}

.leftBox2 {
  float: left;
  margin-right: 8vw;
  margin-top: 300px;
}

.leftBox3 {
  float: left;
  margin-right: 6vw;
  margin-top: 300px;
}

.Grey .logo {
  color: rgb(55, 54, 54);
}

.Grey .p {
  color: rgb(55, 54, 54);
}

.p {
  font-family: "NanumSquareRoundB";
  display: inline;
  font-size: 1.5vw;
  color: rgb(0, 0, 0);
  letter-spacing: 1px;
}

.redP {
  font-family: "NanumSquareRoundB";
  display: inline;
  font-size: 1.5vw;
  color: rgb(255, 1, 1);
}

.Fname {
  font-family: "NanumSquareRoundEB";
  font-size: 2vw;
}

.centerCircleBigContainer {
  display: flex;
  justify-content: center; /* 수평 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
}

.centerCircleContainer {
  /* position: absolute; */
  /* top: 700vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 200px;
  width: 70vw;
}

.circle {
  width: 0.5vw;
}

.circleP {
  font-family: "NanumSquareRoundB";
  /* display: inline; */
  font-size: 1.8vw;
  color: rgb(0, 0, 0);
  /* letter-spacing: 1px; */
}

.test {
  width: 70vw;
  height: 700px;
  margin-top: 10vw;
  margin-bottom: 10vw;
}

@media (max-width: 768px) {
  .MMOMBox {
    height: 1300vw;
  }

  .MouterContainer {
    display: flex;
    justify-content: center;
    /* align-items: center; 수직 중앙 정렬 */
    /* width: 100%; */
  }

  .MinnerContainer {
    width: 100vw;
    /* display: flex; */
    /* justify-content: center; */
    /* 수직 중앙 정렬 */
    /* align-items: center; */
  }

  .backgroundImg {
    background-image: url("../assets/Introduction/background.jpg");
    background-size: 100vw 100vh;
    /* filter: brightness(1) contrast(1); */
  }

  .backgroundC {
    background-size: cover;
    background-color: rgba(226, 232, 235, 0.493);
  }

  .backSize {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
  }

  .backSize2 {
    width: 100vw;
    /* height: 175vw; */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .inSide {
    width: 80vw;
    margin-top: 61vw;
    text-align: center;
    margin-left: 2vw;
  }

  .inSide2 {
    width: 80vw;
    margin-top: 10vw;
  }

  .inSide3 {
    width: 80vw;
    margin-top: 10vw;
    text-align: right;
  }

  .LOGO {
    width: 41vw;
    border-radius: 50vw;
    animation: spin 5s linear infinite;
  }

  .logoContainer {
    margin-left: 18vw;
    width: 41vw;
    margin-top: 15vw;
    border-radius: 50vw;
    box-shadow: -0.8vw 2vw 2vw rgba(0, 0, 0, 0.384);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* 자식 요소가 컨테이너를 벗어나지 않도록 */
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .scrollContainer {
    width: 80vw; /* 컨테이너의 너비 */
    /* height: 100vh; */
    overflow-x: scroll; /* 가로 스크롤 활성화 */
    display: flex;
    flex-direction: row; /* 이미지를 가로로 배치 */
    align-items: center; /* 수직 중앙 정렬 */
    /* 스크롤바 없애기 */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
  }

  .scrollContainer::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
  }

  .webImage,
  .webImage2 {
    width: 80vw; /* 이미지의 너비 */
    height: auto; /* 이미지의 높이를 자동으로 조정 */
    margin-right: 5vw;
  }

  .phoneImage {
    width: 40vw;
    height: 75vw;
    margin-top: 10vw;
    /* animation: shake 2s ease-in-out 1 forwards; */
  }

  .phoneImage2 {
    width: 50vw;
    height: 100vw;
    margin-bottom: 5vw;
  }

  .caseImage {
    /* position: absolute; */
    /* top: 14vw; .leftBox 아래로 이동 */
    /* left: -4vw; */
    width: 45vw;
    margin-bottom: 3vw;
    /* z-index: 1; .phoneImage보다 낮은 z-index 설정 */
  }

  .Fname {
    font-family: "NanumSquareRoundEB";
    font-size: 6vw;
  }

  .Grey .logo {
    color: rgb(55, 54, 54);
  }
  .Grey .p {
    color: rgb(55, 54, 54);
  }

  .logo {
    font-family: "Tenada";
    display: inline;
    font-size: 4.5vw;
    color: rgb(0, 0, 0);
  }

  .logo2 {
    font-family: "Tenada";
    color: red;
    display: inline;
  }

  .p {
    font-family: "NanumSquareRoundB";
    display: inline;
    font-size: 4vw;
    color: rgb(0, 0, 0);
    letter-spacing: 1px;
  }

  .Fp {
    font-family: "NanumSquareRoundEB";
    display: inline;
    font-size: 7vw;
    color: rgb(0, 0, 0);
    letter-spacing: 1px;
    text-shadow: -0.8vw 2vw 2vw rgba(0, 0, 0, 0.384); /* 수평, 수직, 흐림, 색상 */
  }

  .Flogo {
    font-family: "Tenada";
    display: inline;
    font-size: 6.5vw;
    color: rgb(0, 0, 0);
    text-shadow: -0.8vw 2vw 2vw rgba(0, 0, 0, 0.384); /* 수평, 수직, 흐림, 색상 */
  }

  .Flogo2 {
    font-family: "Tenada";
    color: red;
    display: inline;
  }

  /* Circl */
  .McenterCircleBigContainer {
    margin-top: 50vw;
    display: flex;
    /* 수평 중앙 정렬 */
    justify-content: center;
    /* 수직 중앙 정렬  */
    align-items: center;
  }

  .McenterCircleContainer {
    /* position: absolute; */
    top: 670vw;
    display: flex;
    /* 수평 중앙 정렬 */
    justify-content: center;
    /* 수직 중앙 정렬 */
    align-items: center;
    /* 수직 배치 */
    flex-direction: column;
    width: 80vw;
  }

  .circle {
    width: 1vw;
  }

  .circleP {
    font-family: "NanumSquareRoundB";
    /* display: inline; */
    font-size: 4vw;
    color: rgb(0, 0, 0);
    /* letter-spacing: 1px; */
    text-align: center;
  }

  .test {
    width: 70vw;
    height: 50vw;
    margin-top: 30vw;
  }
}

@font-face {
  font-family: "Tenada";
  src: url("../assets/font/Tenada.ttf");
}

@font-face {
  font-family: "NanumSquareRoundB";
  src: url("../assets/font/NanumSquareRoundB.ttf");
}

@font-face {
  font-family: "NanumSquareRoundEB";
  src: url("../assets/font/NanumSquareRoundEB.ttf");
}

@font-face {
  font-family: "NanumSquareRoundL";
  src: url("../assets/font/NanumSquareRoundL.ttf");
}

@font-face {
  font-family: "NanumSquareRoundR";
  src: url("../assets/font/NanumSquareRoundR.ttf");
}
