.main_black {
  width: 100vw;
  height: 100vh;
  background-color: #000000;
}
.Link {
  color: black;
  text-decoration: none;
}
.main {
  width: 35%;
  position: absolute;
  top: calc(50vh - 83px);
  margin-left: 4vw;
}
.main > .mainText {
  font-family: "NanumSquareRoundExtraBold", sans-serif;
  color: white;
  font-size: 3vw;
  font-weight: 500;
}

.mainText > span {
  color: red;
}

.main > .subText {
  color: grey;
  font-family: "NanumSquareRoundL";
  font-size: 2vw;
  margin-top: 4vw;
}

.main > .mainButton {
  width: 10vw;
  height: 3vw;
  border: 0.2vw solid white;
  border-radius: 2vw;
  margin-top: 1.5vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-family: "NanumSquareRoundL";
  font-size: 1.2vw;
  overflow: hidden;
  text-decoration: none;
}

.main_smoke {
  position: absolute;
  width: 65%;
  height: 100vh;
  float: right;
  right: 6vw;
  bottom: 2vw;
  background-image: url("../assets/main/Main_smoke.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}
.bottom {
  z-index: 1;
  width: 100vw;
  height: 3.5vw;
  opacity: 0.7;
  animation: bounce 1s infinite alternate;
  position: absolute; /* fixed로 변경 */
  bottom: 1vw; /* 화면의 아래쪽으로 위치 */
  display: flex;
  justify-content: center;
}
.bottom > img {
  height: 3.5vw;
}

@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-1vw); /* 약간 위로 이동하는 애니메이션 효과 */
  }
}
.main_white {
  width: 100vw;
  height: 100vh;
  margin-left: 10vw;
}

/* temp */
.main_temp {
  padding-top: 50px;
  text-align: center;
}

.container_temp {
  width: 100%;
  height: 70vh;
  background-image: url('../assets/main/temp.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px); /* 살짝 위에서 나타나는 느낌 */
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeIn {
  opacity: 0;
  animation: fadeIn 2.5s ease-out forwards; /* 1초 동안 애니메이션이 진행되고 끝난 후 유지 */
}
/* temp end*/

.main_product {
  height: 33vw;
  position: relative;
  top: 9vw;
  overflow: hidden;
  /* overflow */
}
.main_product > .main_product_text {
  position: absolute;
  top: 5.5vw;
  margin-left: 3vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main_product_title {
  color: black;
  font-family: "NanumSquareRoundL";
  font-size: 3.8vw;
  font-weight: 500;
  line-height: 1.3;
}
.select_background {
  width: 70vw;
  margin: 0 auto;
}
.main_select_title {
  color: black;
  font-family: "NanumSquareRoundL";
  text-align: center;
  font-size: 3.8vw;
  font-weight: 500;
  line-height: 1.3;
}
.main_product_title > span {
  color: red;
}
.main_select_title > span {
  color: red;
}
.main_product_text > .main_product_sub {
  color: grey;
  font-family: "NanumSquareRoundL";
  font-size: 1.8vw;
  margin-top: 4vw;
  line-height: 1.3;
}
.main_product_text > * > .main_product_button {
  width: 10vw;
  height: 3vw;
  border: 0.15vw solid rgb(0, 0, 0);
  border-radius: 2vw;
  margin-top: 1.5vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: rgb(0, 0, 0);
  font-family: "NanumSquareRoundL";
  font-size: 1.2vw;
  overflow: hidden;
}
.mainProduct {
  width: 85vw;
  height: 40vw;
  position: absolute;
  margin-left: 32vw;
}
.mainProduct > .product {
  width: 25vw;
  display: inline-block;
  margin-left: 3vw;
  border-radius: 1vw;
  transition: transform 0.5s ease;
  margin-top: -1.5vw;
}
.specialProduct {
  box-shadow: 0 0 1vw 0.2vw rgba(0, 0, 0, 0.285);
}
.product_img {
  width: 25vw;
  height: 26vw;
  border-radius: 1vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.product_des {
  width: 25vw;
  height: 5vw;
  border-radius: 1vw;
  display: flex;
  justify-content: center;
  align-items: normal;
  flex-direction: column;
}
.product_des > .product_title {
  margin-left: 1vw;
  font-family: "NanumSquareRoundL";
  font-size: 1.2vw;
  font-weight: bold;
}
.product_des > .product_sub {
  margin-left: 1vw;
  margin-top: 0.5vw;
  font-family: "NanumSquareRoundL";
  font-size: 1vw;
  font-weight: bold;
  color: #767676;
}
.leftArrow {
  width: 2.5vw;
  height: 2.5vw;
  position: relative;
  top: 15vw;
  background-image: url("../assets/main/product_arrow.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.rightArrow {
  width: 2.5vw;
  height: 2.5vw;
  position: relative;
  transform: translate(65vw, -17.1vw) rotate(180deg);
  background-image: url("../assets/main/product_arrow.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.select {
  width: 100vw;
  height: 45vw;
  margin-top: 15vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.select_content {
  width: 70vw;
  height: 25vw;
  border-radius: 1vw;
  margin-top: 3vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 10vw;
}
.self_check {
  background-color: #000000;
  width: 35vw;
  height: 25vw;
  border-radius: 1vw;
  margin-right: 2vw;
  border: 0.1vw solid black;
  position: relative;
  display: flex;
  justify-content: center;
}
.self_check > div {
  width: 80%;
}
.campaign {
  width: 35vw;
  height: 25vw;
  background-color: rgb(255, 255, 255);
  border-radius: 1vw;
  margin-left: 2vw;
  border: 0.1vw solid black;
  position: relative;
  display: flex;
  justify-content: center;
}
.campaign > div {
  width: 80%;
}

.self_check > div > .content_title {
  font-family: "NanumSquareRoundL";
  font-size: 1.8vw;
  font-weight: bold;
  color: white;
  padding-top: 2vw;
}
.self_check > div > .content_des {
  font-family: "NanumSquareRoundL";
  font-size: 1.8vw;
  font-weight: bold;
  color: white;
  padding-top: 2vw;
  line-height: 1.7;
}
.self_check_button {
  width: 10vw;
  height: 3vw;
  border: 0.1vw solid rgb(255, 255, 255);
  border-radius: 2vw;
  margin-top: -1vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: rgb(255, 255, 255);
  font-family: "NanumSquareRoundL";
  font-size: 1.2vw;
}
.self_check_img {
  width: 15vw;
  height: 15vw;
  background-image: url("../assets/main/self_check.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  float: right;
  position: relative;
  top: -3vw;
}
.campaign > div > .content_title {
  font-family: "NanumSquareRoundL";
  font-size: 1.8vw;
  font-weight: bold;
  color: black;
  padding-top: 2vw;
}
.campaign > div > .content_des {
  font-size: 1.8vw;
  font-family: "NanumSquareRoundL";
  font-weight: bold;
  color: black;
  padding-top: 2vw;
  line-height: 1.7;
}
.campaign_button {
  width: 10vw;
  height: 3vw;
  border: 0.1vw solid black;
  border-radius: 2vw;
  margin-top: -1vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: black;
  font-family: "NanumSquareRoundL";
  font-size: 1.2vw;
}
.campaign_img {
  width: 15vw;
  height: 16vw;
  background-image: url("../assets/main/campaign.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  float: right;
  position: relative;
  top: -5vw;
}
.smoke_write {
  margin: 0 auto;
  width: 65vw;
  margin-top: 10vw;
  margin-bottom: 5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10vw;
}
.smoke_write > .write {
  width: 20vw;
  height: 12vw;
  border: 0.1vw solid rgb(181, 181, 181);
  border-radius: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.write > div {
  width: 90%;
  margin: 0 auto;
}
.write > div > .write_category {
  color: #8f4a4a;
  font-family: "NanumSquareRoundL";
  font-size: 1.5vw;
}
.write > div > .write_title {
  margin-top: 1vw;
  font-family: "NanumSquareRoundL";
  font-size: 1.2vw;
  font-weight: bold;
  color: rgb(53, 53, 53);
}
.write > div > .write_date {
  margin-top: 3vw;
  font-family: "NanumSquareRoundL";
  font-size: 1vw;
  font-weight: lighter;
  color: rgb(181, 181, 181);
}
@media (max-width: 768px) {
  .main_black {
    background-color: #000000;
    background-image: url("../assets/main//test.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
  }
  .main {
    margin-left: 5vw;
    width: 100%;
  }
  .main > .mainText {
    font-size: 8vw;
  }
  .main > .subText {
    font-size: 5vw;
    margin-top: 1vw;
  }

  .main > .mainButton {
    width: 18vw;
    height: 5vw;
    border-radius: 4vw;
    font-size: 2vw;
    padding-left: 4vw;
    border: 0.5vw solid white;
  }

  .main_smoke {
    display: none;
  }
  .bottom {
    height: 8vw;
    top: 165vw;
  }
  .bottom > img {
    height: 8vw;
  }
  .main_white {
    height: 85vh;
    margin-left: 0;
  }
  .main_product {
    height: 120vw;
    top: 15vw;
  }
  .main_product > .main_product_text {
    top: 10.5vw;
    margin-left: 5vw;
  }
  .main_product_title {
    font-size: 8vw;
  }
  .main_select_title {
    font-size: 5vw;
  }
  .main_product_text > .main_product_sub {
    font-size: 5vw;
    margin-top: 1vw;
  }
  .main_product_text > * > .main_product_button {
    width: 18vw;
    height: 5vw;
    border-radius: 4vw;
    margin-top: 3.5vw;
    font-size: 2vw;
    border: 0.3vw solid black;
  }
  .mainProduct {
    width: 150vw;
    height: 50vw;
    position: absolute;
    margin-left: 5vw;
    top: 65vw;
  }
  .mainProduct > .product {
    width: 35vw;
    margin-top: -1.5vw;
    margin-left: 5vw;
  }
  .product_img {
    width: 35vw;
    height: 36vw;
  }
  .product_des {
    width: 35vw;
    height: 10vw;
  }
  .product_des > .product_title {
    margin-left: 2vw;
    font-size: 2.5vw;
  }
  .product_des > .product_sub {
    margin-left: 2vw;
    margin-top: 1vw;
    font-size: 2vw;
  }
  .leftArrow {
    width: 4vw;
    height: 4vw;
    top: 20vw;
  }
  .rightArrow {
    width: 4vw;
    height: 4vw;
    top: -12vw;
    right: -25vw;
    transform: translate(65vw, -17.1vw) rotate(180deg);
  }
  .select {
    height: 105vw;
    margin-top: 25vw;
  }
  .select_background {
    width: 100vw;
  }
  .select_content {
    width: 100vw;
    height: 45vw;
    margin-bottom: 20vw;
  }

  .self_check {
    width: 40vw;
    border-radius: 2vw;
    height: 40vw;
    border: 0.3vw solid black;
  }
  .campaign {
    width: 40vw;
    height: 40vw;
    border-radius: 2vw;
    border: 0.3vw solid black;
  }
  .self_check > div > .content_title {
    font-size: 3vw;
    padding-top: 4vw;
  }
  .self_check > div > .content_des {
    font-size: 2.2vw;
    padding-top: 3vw;
  }
  .self_check_button {
    width: 13vw;
    height: 3vw;
    border-radius: 4vw;
    margin-top: -8vw;
    font-size: 2vw;
    border: 0.3vw solid white;
  }
  .self_check_img {
    width: 20vw;
    height: 20vw;
    margin-right: 2vw;
    top: 3vw;
  }
  .campaign > div > .content_title {
    font-size: 3vw;
    padding-top: 4vw;
  }
  .campaign > div > .content_des {
    font-size: 2.2vw;
    padding-top: 3vw;
  }
  .campaign_button {
    width: 13vw;
    height: 3vw;
    border-radius: 4vw;
    margin-top: -8vw;
    font-size: 2vw;
    border: 0.3w solid black;
  }
  .campaign_img {
    width: 20vw;
    height: 20vw;
    margin-right: -1vw;
    top: 1vw;
  }
  .smoke_write {
    width: 85vw;
    margin-top: 2vw;
  }
  .smoke_write > .write {
    border-radius: 2vw;
    width: 38vw;
    height: 25vw;
    border: 0.3vw solid black;
  }
  .write > div > .write_category {
    font-size: 3vw;
  }
  .write > div > .write_title {
    margin-top: 1vw;
    font-size: 2.2vw;
  }
  .write > div > .write_date {
    margin-top: 3vw;
    font-size: 2vw;
  }
  .mobile_title {
    font-family: "NanumSquareRoundL";
    color: black;
    font-weight: 500;
    line-height: 1.3;
    font-size: 5vw;
    text-align: center;
  }
  .mobile_title > span {
    color: red;
  }
}
