.MainContent{
    width:100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}
.signin{
    width:40vw;
    height:40vw;
    border-radius: 4vw;
    border: 0.1vw solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2vw 0.1vw;
    flex-direction: column;
}
.Link{
    color:black;
    text-decoration: none;
}
.logo{
    width:30vw;
}
.logo>*>p{
    font-size: 3.3vw;
    text-align: center;
}
.logo>*>p>span{
    color:red
}
.login{
    width:35vw; 
    /* margin-top:; */
    
}
form{
    width:35vw;
    display: flex;
    justify-content: center;
    flex-direction:column;
    margin-top:3vw;
}
.input{
    height:4.5vw;
    margin-bottom: 0.6vw;
    padding-left: 1vw;
    border-radius: 1vw;
    border: 0.1vw solid black;
    font-size:1vw;
}
.emailError{
    color: red;
    position: relative;
    top:-0.5vw;
    margin-left: 0.1vw;
    font-size: 1vw;
}
.check{
    width: 1.7vw; 
    height: 1.7vw;
    cursor: pointer; 
    margin-right: 1vw;
    margin-left:0.5vw;
    margin-top:1vw;
    margin-bottom: 1vw;
  }
.check_p{
    color:#6C6C6C;
    font-size: 1vw;
    display: flex;
    align-items: center;
    position: relative;
    top:-0.1vw;
}
form>button{
    height:4vw;
    background-color: rgb(0, 0, 0);
    border-radius: 3vw;
    font-size: 1.8vw;
    color:white;
    margin-top: 0.1vw;
}
.joinOrfind{
    width:35vw;
    font-size: 1vw;
    margin:1.5vw 0;
    display: flex;
    justify-content:center;
    align-items: center;
}
.joinOrfind>span{   
    width:10vw;
    text-align: center;
}
.social{
    width:35vw;
    border-top: 0.1vw solid #454545;
    display: flex;
    justify-content: center;
} 
.social_name{
    background-color: rgb(255, 255, 255);
    position: relative;
    font-size: 1vw;
    top:-0.5vw;
    padding:0 1vw;
}
.social_Login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

@media (max-width: 768px) {
    .signin{
        width:70vw;
        height:80vw;
        padding: 0;
        border-radius: 8vw;
    }
    .logo{
        width:60vw;
    }
    .logo>*>p{
        font-size:7vw;
    }
    .login{
        width:60vw; 
        display: flex;
        justify-content: center;
    }
    form{
        width:60vw;
    }
    .input{
        height:9vw;
        margin-bottom: 3vw;
        padding-left: 3vw;
        border-radius: 3vw;
        font-size:2.5vw;
    }
    .emailError{
        top:-1.5vw;
        margin-left: 1vw;
        font-size: 2vw;
    }
    .check{
        width: 4vw; 
        height: 4vw;
        margin-right: 1vw;
        margin-left:0.5vw;
        margin-top:0.5vw;
      }
    .check_p{
        color:#6C6C6C;
        font-size: 2vw;
    }
    form>button{
        height:7vw;
        border-radius: 3vw;
        font-size: 3vw;
        margin-top: 3vw;
    }
    .joinOrfind{
        width:60vw;
        font-size: 2vw;
        margin:4vw 0;
    }
    .joinOrfind>span{   
        width:20vw;
        text-align: center;
    }
    .social{
        width:60vw;
        border-top: 0.3vw solid #454545;
    } 
    .social_name{
        font-size: 2vw;
        top:-1vw;
        padding:0 2vw;
    }
}