.MainContent{
    width:100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    /* margin-bottom: 10vw; */
}
.signup{
    width:40vw;
    border-radius: 4vw;
    border: 0.1vw solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2vw 0.1vw;
    flex-direction: column;
    padding-top:5vw;
    padding-bottom: 4vw;
    margin-top: 10vw;
}
.logo{
    width:30vw;
}
.Link{
    color:black;
    text-decoration: none;
}
.logo>*>p{
    font-size: 3.3vw;
    text-align: center;
}
.logo>*>p>span{
    color:red
}
.signupForm{
    width:35vw; 
}
form{
    width:35vw;
    display: flex;
    justify-content: center;
    flex-direction:column;
    margin-top:3vw;
}
form>p{
    font-size: 1.2vw;
}
.Error{
    color: red;
    position: relative;
    top:-2vw;
    margin-left: 0.1vw;
    font-size: 1vw;
}
.input{
    height:4.5vw;
    margin-bottom: 0.6vw;
    padding-left: 1vw;
    border-radius: 1vw;
    border: 0.1vw solid black;
    font-size:1vw;
    margin-bottom: 2.5vw;
    margin-top: 0.5vw;
}
.input_birth{
    width:10vw;
    height:4.5vw;
    margin-bottom: 0.6vw;
    padding-left: 1vw;
    border-radius: 1vw;
    border: 0.1vw solid black;
    font-size:1vw;
    margin-bottom: 2.5vw;
    margin-left:0.4vw;
    margin-right: 0.4vw;
}
form>button{
    height:4vw;
    background-color: rgb(0, 0, 0);
    border-radius: 3vw;
    font-size: 1.8vw;
    color:white;
    margin-top: 0.1vw;
}
@media (max-width: 768px) {
    .signup{
        width:70vw;
        border-radius: 8vw;
        margin-top: 30vw;
        border: 0.3vw solid black;
    }
    .logo{
        width:60vw;
    }
    .logo>*>p{
        font-size:7vw;
    }
    .signupForm{
        width:60vw; 
        display: flex;
        justify-content: center;
    }
    form{
        width:60vw;
    }
    form>p{
        font-size: 2.2vw;
    }
    .input{
        height:9vw;
        margin-bottom: 3vw;
        padding-left: 3vw;
        border-radius: 3vw;
        font-size:2.5vw;
        border: 0.3vw solid black;
    }
    .input::placeholder{
        color:#454545;
    }
    .input_birth{
        width:17vw;
        height:9vw;
        margin-bottom: 3vw;
        padding-left: 2vw;
        border-radius: 3vw;
        font-size:2.5vw;
        margin-bottom: 2.5vw;
        margin-left:0.6vw;
        margin-right: 0.6vw;
        border: 0.3vw solid black;
    }
    .input_birth::placeholder{
        color:#454545;
    }
    .Error{
        top:-1.5vw;
        margin-left: 1vw;
        font-size: 2vw;
    }
    form>button{
        height:7vw;
        border-radius: 3vw;
        font-size: 3vw;
        margin-top: 3vw;
    }
}